
.EducationContainer {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 1em;
}

.EducationContainer div {
    position: relative;
    animation: ShowPage 1s forwards;
    opacity: 0;
}

@keyframes ShowPage {
    0% {
        bottom: 15px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

.icon {
    font-size: 5em;
    animation: IconSwing 2s ease infinite;
    position: relative;
    color: blueviolet;
    transition: .5s;
}

.icon:hover {
    color: #d9a7d8;
}

@keyframes IconSwing {
    0% {
        bottom: -5px;
    }
    50% {
        bottom: 5px;
    }
    100% {
        bottom: -5px;
    }
}

.DescriptionContainer {
    width: 70%;
    text-align: center;
}

.listContainer {
    width: 80%;
}

.listContainer h3 {
    border-bottom: .5px solid blueviolet;
    margin-bottom: 1em;
}

.listContainer ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.listContainer li {
    width: 45%;
}

li::marker {
    color: blueviolet;
}

@media screen and (max-width:730px) {
    .DescriptionContainer {
        width: 90%;
    }
}

@media screen and (max-width:580px) {
    .DescriptionContainer {
        font-size: .9em;
    }

    .EducationContainer {
        font-size: .9em;
        flex-wrap: nowrap;
    }

    .listContainer {
        width: 90%;
    }

    .listContainer h3 {
        padding: 0 .5em;
    }

    .listContainer li {
        width: 100%;
        margin-left: 1.5em;
        margin-bottom: .5em;
    }
}
