
:root {
    --purpleColor: blueViolet
}

.HomeContainer {
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.HomeContainer div:first-child {
    width: 55%;
    position: relative;
    animation: showTitle 1s forwards ease-in-out;
}


@keyframes showTitle { 
    0% {
        right: 5em;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
    
}

.HomeContainer h3 span {
    color: var(--purpleColor);
    font-size: 1.6em;
}

.HomeContainer h1 {
    text-shadow: .1em .1em .2em var(--purpleColor);
    margin: .5em 0em;
}

.ButtonContainer {
 display: flex;
}

button {
    font-size: 1.2em;
    padding: .5em 1.2em;
    background-color: var(--purpleColor);
    border: none;
    border-radius: 5px;
    margin-top: 1em;
    cursor: pointer;
    box-shadow: .1em .1em  white;
    transition: .5s;
    margin-right: 1em;
}
button:hover {
    background-color: rgb(80, 4, 151);
}



button a {
    text-decoration: none;
    color: white;

}