
:root {
    --purpleColor: blueViolet
}

.HomeContainer {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 8em;
    font-size: 1.1em;
}
.HomeContainer > div {
    width: 55%;
    position: relative;
    animation: showTitle 1s forwards ease-in-out;
}


@keyframes showTitle { 
    0% {
        right: 5em;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}

.HomeContainer h3 {
    width: 300px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid ;
    font-size: 1.2em;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.HomeContainer h1 {
    text-shadow: .1em .1em .2em var(--purpleColor);
    margin: .5em 0em;
}

.ButtonContainer {
 display: flex;
 flex-wrap: wrap;
}

.ButtonContainer button {
    font-size: 1em;
    padding: .5em 1.2em;
    background-color: var(--purpleColor);
    border: none;
    border-radius: 5px;
    margin-top: 1em;
    cursor: pointer;
    box-shadow: .1em .1em  white;
    transition: .5s;
    margin-right: 1em;
}
.ButtonContainer button:hover {
    background-color: rgb(80, 4, 151);
}

.ButtonContainer button a {
    text-decoration: none;
    color: white;
}

.Contacts {
    position: fixed;
    bottom: 1em;
    right: 1.5em;
}

@media screen and (max-width:1037px) {
    .HomeContainer {
        margin-top: 5em;
    }
}

@media screen and (max-width:770px) {
    .HomeContainer > div {
        width: 70%;
    }
}

@media screen and (max-width:510px) {
    .HomeContainer {
        text-align: center;
        margin-top: 2em;
    }

    .HomeContainer > div {
        width: 90%;
    }

    .ButtonContainer {
        justify-content: center;
    }

    .Contacts {
        position: fixed;
        bottom: .8em;
        right: 1em;
    }
  }

  @media screen and (max-width:425px) {
    .HomeContainer h1{
        font-size: 1.3em;
    }
    .HomeContainer h3 {
        font-size: .8em;
        width: 200px;
    }
    .HomeContainer p {
        font-size: .8em;
    }
  }