.projectContainer {
    background-color: black;
    color: white;
    z-index: 500;
}

.title h1{
    border-bottom: 1px solid #d9a7d857;
    margin-bottom: .5em;
    margin: .5em 1em;
}

.projectsList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

@media screen and (max-width:980px) {
    .title {
        width: 100%;
        font-size: .9em;
    }
    .title h1 {
        padding: 0 .5em;
    }
}