.projectContainer {
    background-color: black;
    color: white;
}

.title h1{
    border-bottom: 1px solid #d9a7d857;
    margin-bottom: .5em;
    margin: .5em 1em;
}

.projectsList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}