.Card {
    border: 2px solid blueviolet;
    text-align: center;
    border-radius: 15px;
    width: 20em;
}

.imgContainer {
    padding: 2em;
}

.imgContainer h1 {
    font-size: 5em;
    color: rgb(162, 85, 235);
}

.imgContainer p {
    font-size: 3em;
}

.linkContainer {
    margin-bottom: 2em;
    cursor: pointer;
}

.linkContainer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: .6em 2em;
    border-radius: 15px;
    border: 1px solid rgb(147, 46, 241);
    background-color: rgb(147, 46, 241);
    transition: .5s;
}

.linkContainer a:hover {
    background-color:  rgb(162, 85, 235);
    border: 1px solid rgb(162, 85, 235);
}